{% extends "locator.html" %}
{% block body %}
    
<div class="hero-wrap" style="background-image: url('static/images/poorpeoplecause.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
         <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Causes</span></p>
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Causes</h1>
      </div>
    </div>
  </div>
</div>


<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 ftco-animate">
        <div class="cause-entry">
          <a href="#" class="img" style="background-image: url(static/images/watercrisis.jpg);"></a>
          <div class="text p-3 p-md-4">
            <h3><a href="#"><b>Water problem</b> in various sectors</a></h3>
            <p>World faces a severe water crisis due to over-extraction of ground water, pollution, mismanagement and lack of access to safe drinking water for millions of people.</p>
            <!-- <span class="donation-time mb-3 d-block">Last donation 1w ago</span> -->
            <div class="progress custom-progress-success">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 18%" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="fund-raised d-block">Rs 15,000 raised of Rs 50,000</span>
          </div>
        </div>
      </div>
  
      
      <div class="col-md-4 ftco-animate">
        <div class="cause-entry">
          <a href="#" class="img" style="background-image: url(static/images/educationproblem.jpg);"></a>
          <div class="text p-3 p-md-4">
            <h3><a href="#"><b>Education problem</b> in small villages</a></h3>
            <p>The education problem in small villages is characterized by inadequate infrastructure, shortage of teachers, lack of resources and incentives, and poverty leading to high dropout rates.</p>
            <!-- <span class="donation-time mb-3 d-block">Last donation 1w ago</span> -->
            <div class="progress custom-progress-success">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 28%" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="fund-raised d-block">Rs 20,000 raised of Rs 50,000</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="cause-entry">
          <a href="#" class="img" style="background-image: url(static/images/pollution.jpg);"></a>
          <div class="text p-3 p-md-4">
            <h3><a href="#">Increase in <b>Pollution</b></a></h3>
            <p>Pollution is a global environmental issue caused by human activities leading to harm to the planet and living organisms, including air, water, and soil pollution, affecting health and ecosystem balance.</p>
            <!-- <span class="donation-time mb-3 d-block">Last donation 1w ago</span> -->
            <div class="progress custom-progress-success">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 28%" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="fund-raised d-block">Rs 20,000 raised of Rs 50,000</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="cause-entry">
          <a href="#" class="img" style="background-image: url(static/images/poverty.jpg);"></a>
          <div class="text p-3 p-md-4">
            <h3><a href="#"><b>Poverty</b></a></h3>
            <p>India faces poverty problem due to lack of access to basic needs, income inequality, unemployment, and low-wage jobs leading to poor living standards for a large portion of its population.</p>
            <!-- <span class="donation-time mb-3 d-block">Last donation 1w ago</span> -->
            <div class="progress custom-progress-success">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 18%" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="fund-raised d-block">Rs 15,000 raised of Rs 50,000</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="cause-entry">
          <a href="#" class="img" style="background-image: url(static/images/pandemic.jpg);"></a>
          <div class="text p-3 p-md-4">
            <h3><a href="#"><b>Pandemic outbreak</b></a></h3>
            <p>The spread of diseases is a growing concern globally due to factors such as global travel, lack of access to healthcare, poor sanitation and hygiene, and the emergence of new viruses.</p>
            <!-- <span class="donation-time mb-3 d-block">Last donation 1w ago</span> -->
            <div class="progress custom-progress-success">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 13%" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="fund-raised d-block">Rs 19,000 raised of RS 50,000</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="cause-entry">
          <a href="#" class="img" style="background-image: url(static/images/lackofmedical.jpg);"></a>
          <div class="text p-3 p-md-4">
            <h3><a href="#">Lack of <b>Medical Facilities</b></a></h3>
            <p>Lack of medical facilities is a major issue,causing inadequate access to basic healthcare services, leading to poor health outcomes and increased mortality rates.</p>
            <!-- <span class="donation-time mb-3 d-block">Last donation 1w ago</span> -->
            <div class="progress custom-progress-success">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 10%" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="fund-raised d-block">Rs 14,000 raised of Rs 50,000</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <!-- <ul>
            <li><a href="#">&lt;</a></li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&gt;</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="ftco-section-3 img" style="background-image: url(images/bg_3.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row d-md-flex">
    <div class="col-md-6 d-flex ftco-animate">
      <div class="img img-2 align-self-stretch" style="background-image: url(images/bg_4.jpg);"></div>
    </div>
    <div class="col-md-6 volunteer pl-md-5 ftco-animate">
      <h3 class="mb-3">Be a volunteer</h3>
      <form action="#" class="volunter-form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Your Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Your Email">
        </div>
        <div class="form-group">
          <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" value="Send Message" class="btn btn-white py-3 px-5">
        </div>
      </form>
    </div>    			
    </div>
  </div>
</section> -->

{% endblock %}
